{% extends 'base.html' %}
{% block body %}
<div class="container">
    <div class="row text-center">
        <div class="col-md-6 col-sm-12 col-lg-6">
            <h2 class="m-2">{{movie.name}}({{movie.year}})</h2>
            <img class="img-fluid m-2" src="{{movie.img.url}}" width="350">

        </div>
        <div class="col-md-6 col-sm-12 col-lg-6">
            <p class="mt-5">{{movie.desc}}</p>
            <br>
            <a class="btn btn-primary" href="{% url 'movieapp:update' movie.id %}">Update</a>
            <a class="btn btn-danger" href="{% url 'movieapp:delete' movie.id %}">Delete</a>
        </div>
    </div>
</div>

{% endblock %}